Repository sarvalabs/js-moi-sdk, pull requests merged in 2024-10, with the labels that each got.

#75 fix: routine parameters mismatch bug
  .gitignore
  docs/source/logic.rst
  jest.config.ts
  package.json
  packages/js-moi-constants/lib.cjs/version.d.ts
  packages/js-moi-constants/lib.cjs/version.js
  packages/js-moi-constants/lib.esm/version.d.ts
  packages/js-moi-constants/lib.esm/version.js
  packages/js-moi-logic/__tests__/logic.test.ts
  packages/js-moi-logic/__tests__/persistant-state.test.ts
  packages/js-moi-logic/lib.cjs/index.d.ts
  packages/js-moi-logic/lib.cjs/index.d.ts.map
  packages/js-moi-logic/lib.cjs/index.js
  packages/js-moi-logic/lib.cjs/index.js.map
  packages/js-moi-logic/lib.cjs/logic-base.d.ts
  packages/js-moi-logic/lib.cjs/logic-base.d.ts.map
  packages/js-moi-logic/lib.cjs/logic-base.js
  packages/js-moi-logic/lib.cjs/logic-base.js.map
  packages/js-moi-logic/lib.cjs/logic-driver.d.ts.map
  packages/js-moi-logic/lib.cjs/logic-driver.js
  packages/js-moi-logic/lib.cjs/logic-driver.js.map
  packages/js-moi-logic/lib.cjs/logic-factory.d.ts
  packages/js-moi-logic/lib.cjs/logic-factory.d.ts.map
  packages/js-moi-logic/lib.cjs/logic-factory.js
  packages/js-moi-logic/lib.cjs/logic-factory.js.map
  packages/js-moi-logic/lib.cjs/routine-options.d.ts
  packages/js-moi-logic/lib.cjs/routine-options.d.ts.map
  packages/js-moi-logic/lib.cjs/routine-options.js
  packages/js-moi-logic/lib.cjs/routine-options.js.map
  packages/js-moi-logic/lib.esm/index.d.ts
  packages/js-moi-logic/lib.esm/index.d.ts.map
  packages/js-moi-logic/lib.esm/index.js
  packages/js-moi-logic/lib.esm/index.js.map
  packages/js-moi-logic/lib.esm/logic-base.d.ts
  packages/js-moi-logic/lib.esm/logic-base.d.ts.map
  packages/js-moi-logic/lib.esm/logic-base.js
  packages/js-moi-logic/lib.esm/logic-base.js.map
  packages/js-moi-logic/lib.esm/logic-driver.d.ts.map
  packages/js-moi-logic/lib.esm/logic-driver.js
  packages/js-moi-logic/lib.esm/logic-driver.js.map
  packages/js-moi-logic/lib.esm/logic-factory.d.ts
  packages/js-moi-logic/lib.esm/logic-factory.d.ts.map
  packages/js-moi-logic/lib.esm/logic-factory.js
  packages/js-moi-logic/lib.esm/logic-factory.js.map
  packages/js-moi-logic/lib.esm/routine-options.d.ts
  packages/js-moi-logic/lib.esm/routine-options.d.ts.map
  packages/js-moi-logic/lib.esm/routine-options.js
  packages/js-moi-logic/lib.esm/routine-options.js.map
  packages/js-moi-logic/manifests/tokenledger.json
  packages/js-moi-logic/src.ts/index.ts
  packages/js-moi-logic/src.ts/logic-base.ts
  packages/js-moi-logic/src.ts/logic-driver.ts
  packages/js-moi-logic/src.ts/logic-factory.ts
  packages/js-moi-logic/src.ts/routine-options.ts
  packages/js-moi-logic/types/logic.d.ts
  packages/js-moi-manifest/__tests__/abi.test.ts
  packages/js-moi-manifest/__tests__/schema.test.ts
  packages/js-moi-manifest/manifests/tokenledger-polo.txt
  packages/js-moi-manifest/manifests/tokenledger.json
Labels: bug, logic

#80 fix: fuel price should be allowed to set as zero.
  packages/js-moi-signer/lib.cjs/signer.d.ts.map
  packages/js-moi-signer/lib.cjs/signer.js
  packages/js-moi-signer/lib.cjs/signer.js.map
  packages/js-moi-signer/lib.esm/signer.d.ts.map
  packages/js-moi-signer/lib.esm/signer.js
  packages/js-moi-signer/lib.esm/signer.js.map
  packages/js-moi-signer/src.ts/signer.ts
Labels: bug, signer

#92 release: bump the package version to v0.5.0
  docs/source/conf.py
  docs/source/constants.rst
  package.json
  packages/js-moi-bip39/package.json
  packages/js-moi-constants/lib.cjs/version.d.ts
  packages/js-moi-constants/lib.cjs/version.js
  packages/js-moi-constants/lib.esm/version.d.ts
  packages/js-moi-constants/lib.esm/version.js
  packages/js-moi-constants/package.json
  packages/js-moi-constants/src.ts/version.ts
  packages/js-moi-hdnode/package.json
  packages/js-moi-logic/package.json
  packages/js-moi-manifest/package.json
  packages/js-moi-providers/package.json
  packages/js-moi-signer/package.json
  packages/js-moi-utils/package.json
  packages/js-moi-wallet/package.json
  packages/js-moi/package.json
Labels: bug, documentation, enhancement, logic, manifest, providers, signer, breaking, release
